; hiyu im ayu :3
[user]
  name = Ayu
  email = ayu@ayu.dev

[github]
  user = AyuAi

[pull]
  rebase = true

[init]
  defaultBranch = main

[core]
  editor = code --wait

; Replace https://
[url "\"git@github.com:\""]
  insteadOf = \"https://github.com/\"

; Automatically colorize console output
[color]
  diff = auto
  status = auto
  branch = auto
  branchdfh = auto
  grep = auto

; Cool aliases owo
[alias]
  ; "push upstream -> pu"
  pu = push -u origin HEAD
  ; "force push upstream -> fpu"
  fpu = push -f -u origin HEAD
  ; "force push -> fp"
  fp = push -f
  ; "add all -> aa"
  aa = add --all
  ; "commit w/ message -> cm"
  cm = commit -am
  ; "commit amend -> ca"
  ca = commit -a --amend --no-edit
  ; "commit amend w/ message -> cam"
  cam = commit -a --amend -m
