; hiyu im ayu :3
[user]
  name = Ayu
  email = ayu@ayu.dev

[github]
  user = AyuAi

[pull]
  rebase = true

[init]
  defaultBranch = main

[core]
  editor = code --wait

; Replace https://
[url "\"git@github.com:\""]
  insteadOf = \"https://github.com/\"

; Automatically colorize console output
[color]
  diff = auto
  status = auto
  branch = auto
  branchdfh = auto
  grep = auto

; Cool aliases owo
[alias]
  pu = push -u origin HEAD
  cam = commit -am
