; hiyu im ayu :3
[user]
  name = ayu
  email = ayu@ayu.dev

[github]
  user = ayubun

[pull]
  rebase = true

[init]
  defaultBranch = main

[core]
  editor = vim

[rerere]
  enabled = true
  autoupdate = true

; Replace https://
[url "\"git@github.com:\""]
	insteadOf = \"https://github.com/\"

; Automatically colorize console output
[color]
  diff = auto
  status = auto
  branch = auto
  branchdfh = auto
  grep = auto

; Cool aliases owo
[alias]
  ; "push upstream -> pu"
  pu = push -u origin HEAD
  ; "force push upstream -> fpu"
  fpu = push -f -u origin HEAD
  ; "force push -> fp"
  fp = push -f
  ; "add all"
  a = add --all
  ; "commit w/ message -> cm"
  cm = commit -am
  ; "commit amend -> ca"
  ca = commit -a --amend --no-edit
  ; "commit amend w/ message -> cam"
  cam = commit -a --amend -m
  ; "checkout"
  c = checkout
  ; "checkout new"
  cb = checkout -b
  ; "status"
  s = status
  ; "pull"
  p = pull
  ; "rebase"
  r = rebase
  ; "delete branch"
  bd = branch -D
  ; "log"
  l = log
  ; "rebase origin/main"
  rom = rebase origin/main
  ; "rebase origin/master"
  roma = rebase origin/master

; https://bun.sh/docs/install/lockfile
[diff "lockb"]
	textconv = bun
	binary = true
