# https://github.com/jesseduffield/lazygit/issues/2187#issuecomment-1259243646
customCommands:
  - key: O
    context: commits
    description: open files in commit
    command: git diff -z --name-only {{.SelectedLocalCommit.ParentRefName}} {{.SelectedLocalCommit.Sha}} | xargs -0 lvim --
    output: terminal


os:
  # oops, this was never actually broken
  # editCommand: 'nvr -cc split --remote-silent {{filename}}'
  openCommand: 'nvr -cc split --remote-silent {{filename}}'

